<div class="container">

  <div class="search-container">

    <input type="text"
           placeholder="Пошук за назвою або автором..."
           [(ngModel)]="searchTerm"
           name="searchTerm"
           class="search-input">
  </div>

  <div class="flex-row-container">

    <app-photo-card *ngFor="let photo of photos$ | async"
                    [photoData]="photo">
    </app-photo-card>

    <ng-template *ngIf="!(photos$ | async)?.length">
      <p style="margin: 20px;">Фотографій за вашим запитом не знайдено.</p>
    </ng-template>

  </div>
</div>
